// 슬라이더 부분
.key-visual {
  width: 100%;
  height: 700px;
  margin-bottom: 60px;
  position: relative;

  @include sp-screen {
    height: 100vh;

    &:after {
      content: '';
      width: 100%;
      height: 200px;
      position: absolute;
      display: block;
      z-index: 1;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 59%, #000000)
    }
  }

  &__container {
    .key-visual__slider {
      margin: 0;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;

      &__image-container {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 2s linear, transform 7.5s linear; //秒数に注意
        z-index: 1;

        &:not(:first-child) {
          position: absolute;
          top: 0;
          left: 0;
        }
        &.Show_ {
          opacity: 1;
        }

        &.LeftToRight_ {
          animation-duration: 20s;
          animation-name: LeftToRight-Image;

          @include sp-screen {
            animation-name: LeftToRight-Image-SP;
          }
        }
        .image-pc {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transform: scale(1.3);

          @include sp-screen {
            display: none;
          }
        }
        .image-sp {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transform: scale(1.3);

          @include sp-screen-min {
            display: none;
          }
        }
      }
    }
  }

  .sp-scroll-icon {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 16px;
    z-index: 10;


    @include sp-screen-min {
      display: none;
    }

    p {
      margin-bottom: 0;
      color: #ffffff;
      font-size: 13px;
    }

    span {
      width: 30px;
      height: 30px;
      display: block;
      margin: 0 auto;
      position: relative;

      &:before {
        content: "";
        width: 20px;
        height: 20px;
        border: 0px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(135deg);
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }
}

// 여행이야기 부분
.travel {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px dashed #e0e0e0;

  .travel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    &__item {
      width: 50%;
      height: 0;
      padding-bottom: 50%;

      @include sp-screen {
        width: 100%;
        height: 100%;
        padding-bottom: 0;
      }

      .travel-image-container {
        position: relative;

        img {
          width: 100%;
        }

        .title-container {
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);

          h3 {
            font-size: 24px;
            font-weight: 400;
            color: #ffffff;
            margin: 0;
          }
        }
      }
    }
  }
}

// 잡담부분
.chitchat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  &__item {
    width: calc(50% - 12px);
    box-shadow: 3px 3px 5px #e3e9e5;
    margin-bottom: 24px;

    @include sp-screen {
      width: 100%;
    }

    .image-container {
      margin-top: 0;
      margin-bottom: 0;
    }

    .chichat-info {
      padding: 12px;
      overflow: hidden;

      .date-and-title {
        padding-bottom: 10px;

        .title {
          font-size: 16px;
        }
        .date {
          font-size: 11px;
        }
      }

      .ariticle-content {
        font-size: 14px;
        padding-bottom: 10px;
      }

      .article-tags-container {
        margin-top: 0;

        &__article-tag {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

// 자기소개 부분
.about-title {
  display: flex;
  justify-content: center;

  h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 3px solid $theme-yellow;
  }
}

.about-container {
  &__image {
    width: 100%;
    height: 0;
    background-image: url("../../images/about-me.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 145%;
  }
}
