.single-page {
  &__body {
    .single-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 700px;
      overflow: hidden;

      @include sp-screen {
        height: 400px;
      }

      &__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(0.8);

        @include sp-screen {
          filter: brightness(0.7);
        }
      }

      &__title-and-tags {
        position: absolute;
        width: calc(100% - 200px);
        max-width: 1080px;
        margin: 0 auto;
        text-align: center;

        @include sp-screen {
          width: calc(100% - 32px);
        }

        .date-and-title {
          margin-bottom: 40px;

          @include sp-screen {
            margin-bottom: 20px;
          }

          .title {
            font-size: 50px;
            color: #ffffff;
            margin-bottom: 5px;

            @include sp-screen {
              font-size: 27px;
            }
          }

          .date {
            font-size: 16px;
            margin-bottom: 0;
            color: #ffffff;
            margin-bottom: 0;

            @include sp-screen {
              font-size: 12px;
            }
          }
        }

        .tags-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 0;

          &__tag {
            margin-right: 6px;
            margin-bottom: 6px;
            p {
              margin: 0;
              color: #ffffff;
              font-size: 16px;

              @include sp-screen {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  &__pagination {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;

    @include sp-screen {
      flex-wrap: wrap;
    }

    .common-pagination {
      flex: 1;

      @include sp-screen {
        flex: auto;
        width: 100%;
      }

      a {
        display: inline-block;
        width: 100%;
        transition: $cubic-bezier;

        .pagination-container {
          overflow: hidden;
          position: relative;
          
          .pagination-title {
            margin: 0 20px;
            font-size: 16px;
            line-height: 1.6;
            letter-spacing: 0.6px;
            max-width: 350px;
            width: 100%;
            height: 50px;
            overflow: hidden;
            transition: $cubic-bezier;
            color: #000000;

            @include sp-screen {
              max-width: none;
              height: 48px;
            }
          }
        }

        .pagination-container__left {
          display: flex;
          flex-direction: row-reverse;

          @include sp-screen {
            padding-bottom: 10px;
          }

          .arrow-left {
            position: relative;
            width: 16px;
            height: 25px;

            &:before {
              content: "";
              width: 16px;
              height: 2px;
              background-color: #000000;
              position: absolute;
              top: 25px;
              left: 0;
              transition: $cubic-bezier;
            }

            &:after {
              content: "";
              width: 0;
              height: 10px;
              border-right: 2px solid #000000;
              transform: rotate(-135deg);
              position: absolute;
              top: 18px;
              left: 3px;
              transition: $cubic-bezier;
            }
          }
        }

        .pagination-container__right {
          display: flex;

          @include sp-screen {
            padding-top: 10px;
            border-top: 1px solid $theme-mint;
          }

          .arrow-right {
            position: relative;
            width: 16px;
            height: 25px;

            &:before {
              content: "";
              width: 16px;
              height: 2px;
              background-color: #000000;
              position: absolute;
              top: 25px;
              right: 0;
              transition: $cubic-bezier;
            }

            &:after {
              content: "";
              width: 0;
              height: 10px;
              border-right: 2px solid #000000;
              transform: rotate(135deg);
              position: absolute;
              top: 18px;
              right: 3px;
              transition: $cubic-bezier;
            }
          }
        }

        &:hover {
          background-color: #000000;
          transition: $cubic-bezier;

          @include sp-screen {
            background-color: transparent;
          }

          .pagination-container {
            .pagination-title {
              color: #ffffff;
              transition: $cubic-bezier;

              @include sp-screen {
                color: #000000;
              }
            }
          }

          .pagination-container__left {
            .arrow-left {  
              &:before {
                background-color: #ffffff;
                
                @include sp-screen {
                  background-color: #000000;
                }
              }
  
              &:after {
                border-right: 2px solid #ffffff;

                @include sp-screen {
                  border-right: 2px solid #000000;
                }
              }
            }
          }
          .pagination-container__right {
            .arrow-right {
              &:before {
                background-color: #ffffff;

                @include sp-screen {
                  background-color: #000000;
                }
              }
  
              &:after {
                border-right: 2px solid #ffffff;

                @include sp-screen {
                  border-right: 2px solid #000000;
                }
              }
            }
          }
        }
      }
    }
  }
}

.content-container {
  width: calc(100% - 200px);
  max-width: 800px;
  margin: 0 auto;

  @include sp-screen {
    width: calc(100% - 32px);
  }

  .content {
    margin-top: 60px;

    img {
      width: 100%;
    }
  }
}
