$theme-yellow: #f6e84e;

// 홈화면 애니메이션 속도
@keyframes LeftToRight-Title {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes LeftToRight-Image {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes LeftToRight-Image-SP {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
