$theme-yellow: #f6e84e;
$theme-mint: #00bbb5;
$cubic-bezier: 600ms cubic-bezier(0.11, 0.45, 0.54, 0.91);

// 홈화면 애니메이션 속도
@keyframes LeftToRight-Title {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes LeftToRight-Image {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes LeftToRight-Image-SP {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes icon_floating {
  0% { transform: translateY(0) }
  33.33333% { transform: translateY(-10px) }
  66.66667% { transform: translateY(0) }
  100% { transform: translateY(0) }
}