@import 'breakpoints';



body * {
    font-family: 'Noto Sans KR', sans-serif;
}


header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    border-bottom: 1px solid #e3e3e3;

}
#global-menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    height: 70px;
    width: calc(100% - 200px);
    max-width: 1080px;
    margin: 0 auto;

    @include sp-screen {
        width: calc(100% - 32px);
    }

    li {
        margin-right: 15px;
    }

}

#main {
    width: calc(100% - 200px);
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 71px;

    @include sp-screen {
        width: calc(100% - 32px);
    }

    .main-container {
        display: flex;

        &__left {
            width: 65%;
            margin-right: 32px;

            @include sp-screen {
                width: 100%;
                margin-right: 0;
            }
        }

        &__right {
            width: 35%;
            padding: 0 16px;

            @include sp-screen {
                display: none;
            }
        }
    }
}




.image-container {
    margin-top: 20px;
    margin-bottom: 20px;

    img {
        width: 100%;
    }
}








.article-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    position: relative;
    margin-bottom: 30px;

    &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 10px;
        position: absolute;
        background-color: #f6e84e;
        bottom: 5px;
        z-index: -1;
    }
}

.article-list {
    list-style: none;

    &__item {
        width: 100%;
        margin-bottom: 60px;

        .date-and-title {
            h3 {
                font-size: 27px;
                font-weight: bold;
                margin-bottom: 0;
            }

            time {
                font-size: 12px;
                font-weight: lighter;
                color: #808080;
            }
        }

        .ariticle-content {
            font-size: 16px;
            margin-bottom: 0;
        }

        .article-tags-container {
            list-style: none;
            margin-top: 20px;
            margin-bottom: 0;
            display: flex;

            &__article-tag {
                background-color: #00bbb5;
                border-radius: 10px;
                padding: 2px 10px;
                margin-right: 6px;

                p {
                    font-size: 15px;
                    color: #ffffff;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.travel {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px dashed #e0e0e0;

    .travel-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
    
        &__item {
            width: 50%;
            height: 0;
            padding-bottom: 50%;
    
            @include sp-screen {
                width: 100%;
                height: 100%;
                padding-bottom: 0;
            }
    
            .travel-image-container {
                position: relative;
    
                img {
                    width: 100%;
                }
    
                .title-container {
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
    
                    h3 {
                        font-size: 24px;
                        font-weight: 400;
                        color: #ffffff;
                        margin: 0;
                    }
                }
            }
        }
    }
}



.chitchat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        width: calc(50% - 12px);
        box-shadow: 3px 3px 5px #e3e9e5;
        padding: 12px;

        @include sp-screen {
            width: 100%;
        }

        .image-container {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}


.link-to-archive {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px dashed #e0e0e0;

    a {
        border-left: 2px solid #808080;
        border-right: 2px solid #808080;
        padding: 0 20px;
        font-size: 17px;
        font-weight: 600;
        color: #808080;
    }
}

footer {
    background-color: #e3e3e3;
    height: 180px;
}